<div class="bg-white p-8 rounded shadow max-w-[800px] w-full">
  <h2 class="text-xl font-bold mb-4">Modifier Salle</h2>

  <form method="POST" class="space-y-4">
    <input name="nom" value="<%= salle.nom %>" class="w-full p-2 border rounded" />
    <input name="capacite" value="<%= salle.capacite %>" class="w-full p-2 border rounded" />
    <input name="type" value="<%= salle.type %>" class="w-full p-2 border rounded" />

    <button class="w-full bg-blue-600 text-white p-2 rounded">
      Modifier
    </button>
  </form>
</div>
